@{
    ViewData["Title"] = "Birgers Bolcher";
}
<h1>@ViewData["Title"]</h1>

<p>Her er vores Bolche Menu</p>
@model IEnumerable<BolcheWebsite.SQLModels.BolcheView>
<i class="lni lni-search"></i>
<input type="text" id="myInput" onkeyup="SearchByLetter()" placeholder="Søg efter navn...">
<button id="SearchForLetterShift" onclick="SearchForLetterShift()">Søg efter startbogstav.</button>
<button id="SearchForGeneralShift" onclick="SearchForGeneralShift()">Søg generelt.</button>
<button id="toggleON" onclick="toggleON(`BolcheTabel`)">Vis Alle</button>
<button id="toggleOFF" onclick="toggleOFF(`BolcheTabel`)">Skjul Alle</button>
<table id="BolcheTabel">
    <thead>
        <tr>
            <th>Bolche Navn</th>
            <th>Farve</th>
            <th>Surhed</th>
            <th>Styrke</th>
            <th>Smag</th>
            <th>Pris</th>
            <th>Vægt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BolcheNavn</td>
                <td>@item.Farve</td>
                <td>@item.Surhed</td>
                <td>@item.Styrke</td>
                <td>@item.Smag</td>
                <td>@item.Pris</td>
                <td>@item.Vægt</td>
            </tr>
        }
    </tbody>
</table>