@{
    ViewData["Title"] = "Birgers Bolcher";
}
<h1>@ViewData["Title"]</h1>
<script>
    var bolcheData = @Html.Raw(Json.Serialize(Model.BolcheView))
        for (let i = 0; i < bolcheData.length; i++) {
        console.log(bolcheData[i]);
    }
</script>
<p>Her er vores Bolche Menu</p>
@model BolcheWebsite.SQLModels.CombinationModel
<i class="lni lni-search"></i>
<button id="SearchButton" onclick="SearchThing()">Søg</button>
<input type="text" id="myInput" placeholder="Søg efter navn...">
<button id="SearchForLetterShift" onclick="SearchForLetterShift()">Søg efter startbogstav.</button>
<button id="SearchForGeneralShift" onclick="SearchForGeneralShift()">Søg generelt.</button>
<button id="toggleON" onclick="toggleON()">Vis Alle</button>
<button id="toggleOFF" onclick="toggleOFF()">Skjul Alle</button>
<label>
    Farve:
    <select name="colors" placeholder="Vælg Farve" id="colors" onchange="SetColor()">
        <option value="" disabled selected>Vælg Farve</option>
    </select>
</label>
<table id="BolcheTabel" style="display: none;">
    <thead>
        <tr>
            <th>Bolche Navn</th>
            <th>Farve</th>
            <th>Surhed</th>
            <th>Styrke</th>
            <th>Smag</th>
            <th>Råvare Pris (øre)</th>
            <th>Vægt</th>
            <th>Netto Pris (øre)</th>
            <th>Pris (øre)</th>
            <th>Pris (100g) (øre)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BolcheView)
        {
            var nettoPris = Model.NettoPris.FirstOrDefault(n => n.Price == item.Pris);
            var totalPris = Model.TotalPris.FirstOrDefault(t => t.Price == item.Pris);
            var hundredgramPris = Model.HundredGramPris.FirstOrDefault(h => h.Price == item.Pris);

            <tr>
                <td>@item.BolcheNavn</td>
                <td>@item.Farve</td>
                <td>@item.Surhed</td>
                <td>@item.Styrke</td>
                <td>@item.Smag</td>
                <td>@item.Pris</td>
                <td>@item.Vægt</td>
                <td>@nettoPris?.Output</td>
                <td>@totalPris?.Output</td>
                <td>@hundredgramPris?.Output</td>
            </tr>
        }
    </tbody>
</table>
